<body>

	<p>Your total is <%= fav4%></p>

	<div class="card-container">
		<div class="card">
			<dir class="front">
				<h1>hello <%= first%></h1>
			</dir>
			<div>
				<button>See Result</button>
			</div>
			<div class="back">
				<h1>Your address is: <%= state%> <%= city%> <%= street%> <%= zip%></h1>
			</div>
		</div>
	</div>
</body>