<body>
	<p>hello <%= first%></p>

	<p>Your address is: <%= state%> <%= city%> <%= street%> <%= zip%></p>

	<p>Your total is <%= fav4%></p>

	<div class="card-container">
		<div class="card"></div>
	</div>
</body>