<body>
	<p>Hello again <%= first%>!</p>

	<div>
		<form method="post" action="numbers">
			<label>Enter one of your favorite numbers</label>
			<input type="number" name="fav1">
			<label>Enter another favorite number</label>
			<input type="number" name="fav2">
			<label>Enter your last favorite number</label>
			<input type="hidden" name="first" value="<%= first%>">
			<input type="number" name="fav3">
			<input type="hidden" name="state" value='<%= state%>'>
			<input type="hidden" name="city" value='<%= city%>'>
			<input type="hidden" name="street" value='<%= street%>'>
			<input type="hidden" name="zip" value='<%= zip%>'>
			<input type="submit" value="submit">
		</form>
	</div>
</body>